<!DOCTYPE html>
<html>
<head>
	<title>Pant.re Home Page</title>
	<link rel="stylesheet" type="text/css" href="./bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../stylesheet/styles.css">
	<script type="text/javascript" src="./jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="./bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="./underscore/underscore.js"></script>
	<script type="text/javascript" src="../javascript/app.js"></script>
</head>
<body>
	<form id="signup" method="post" action="/users">
		<input name="user[firstName]" type="text" placeholder="First Name">
		<input name="user[lastName]" type="text" placeholder="Last Name">
		<input name="user[email]" type="email" placeholder="email@example.com">
		<input name="user[password]" type="password" placeholder="password">
		<input name="user[password_con]" type="password" placeholder="confirm password">
		<button>Join!</button>
</body>
</html>