<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./bootstrap/dist/css/bootstrap.css">
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
        <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
        rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="../stylesheet/styles.css">
        <script type="text/javascript" src="./jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="./bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="./underscore/underscore.js"></script>
        <script type="text/javascript" src="../javascript/app.js"></script>
        <!--<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->
        <!--<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->
    
    
    </head>
    
    <body>
        <div class="cover">
            <div class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">pant.rē</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active">
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Contacts</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="background-image-fixed cover-image" style="background-image : url('../images/pantry-clean.jpg')"></div>
            <div class="container">
                <div class="row">
                    <div id="header" class="col-md-12 text-center">
                        <h1>pant.rē</h1>
                        <p>What's in your cabinets?</p>
                        <br>
                        <br>
                        <a class="btn btn-lg btn-primary" data-toggle="modal" data-target="#join">Join</a>
                        <a class="btn btn-lg btn-primary" data-toggle="modal" data-target="#login">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center text-primary">Team</h1>
                        <p class="text-center">We are a group of skilled individuals.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                        class="center-block img-circle img-responsive">
                        <h3 class="text-center">John Doe</h3>
                        <p class="text-center">Developer</p>
                    </div>
                    <div class="col-md-4">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                        class="center-block img-circle img-responsive">
                        <h3 class="text-center">John Doe</h3>
                        <p class="text-center">Developer</p>
                    </div>
                    <div class="col-md-4">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png"
                        class="center-block img-circle img-responsive">
                        <h3 class="text-center">John Doe</h3>
                        <p class="text-center">Developer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="text-primary">A title</h1>
                        <h3>A subtitle</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                            ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                            dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                            nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
                            enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                            felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
                            elementum semper nisi.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                        class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <div id="join" class="modal fade text-left">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title text-center">Join pant.rē!</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" method="post" action="/users">
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label class="control-label">First</label>
                                </div>
                                <div class="col-sm-10">
                                    <input name="user[firstName]" type="text" class="form-control" placeholder="First Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label class="control-label">Last</label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="user[lastName]" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label class="control-label">Email</label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" name="user[email]" placeholder="Email (this will be your logon ID)">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label class="control-label">Password</label>
                                </div>
                                <div class="col-sm-10">
                                    <input name="user[password]"type="password" class="form-control" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label class="control-label">Confirm&nbsp;</label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="user[password_con]" placeholder="Confirm Password (Passwords must match)">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">Remember me</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Create Account</button>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        <div class="modal fade text-left" id="login">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title text-center">Sign into pant.rē</h4>
                    </div>
                    <div class="modal-body">
                        <p></p>
                        <form class="form-horizontal" role="form" method="post" action="/login">
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label name="user[firstName]" class="control-label">Email</label>
                                </div>
                                <div class="col-sm-10">
                                    <input type="email" name="user[email]" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label for="inputPassword3" class="control-label">Password</label>
                                </div>
                                <div class="col-sm-10">
                                    <input name="user[password]" type="password" class="form-control" id="inputPassword3" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">Remember me</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Sign in</button>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    </body>

</html>