<!DOCTYPE html>
<html>
<head>
	<title>Login to Pant.re</title>
		<link rel="stylesheet" type="text/css" href="./bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../stylesheet/styles.css">
	<script type="text/javascript" src="./jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="./bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="./underscore/underscore.js"></script>
	<script type="text/javascript" src="../javascript/app.js"></script>
</head>
<body>
	<form id="signin" method="post" action="/login">
		<input name="user[email]" type="email" placeholder="email@example.com">
		<input name="user[password]" type="password" placeholder="password">
		<button>Log in!</button>
	</form>
</body>
</html>
