<!DOCTYPE html>
<html lang="en">
<head>
	<title>Profile Page</title>
	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../stylesheet/styles.css">
	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="../bower_components/bootstrap/dist/js/boostrap.js"></script>
	<script type="text/javascript" src="..bower_components/underscore.js"></script>
	<script type="text/javascript" src="../javascript/app.js"></script>
</head>
<body>
	<div class="wrapper">
		<%= firstName%> <%= lastName%> <
	</div>

</body>
<script type="text/template" id="profileTemplate">
	
</script>
</html>