<!DOCTYPE html>
<html>
    
    <head>
        <title>pant.rē Profile Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./bootstrap/dist/css/bootstrap.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
        <link href="https://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
        rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,400" rel="stylesheet"
        type="text/css">
        <link rel="stylesheet" type="text/css" href="../stylesheet/styles.css">
        <script type="text/javascript" src="./jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="./bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="./underscore/underscore.js"></script>
        <script type="text/javascript" src="../javascript/app.js"></script>
    </head>
    
    <body>
        <div class="cover">
            <div class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><span>pant.rē</span></a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active">
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Contacts</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wrapper"></div>
            <div class="container profile">
                <h1 class="col-md-12 text-center">Welcome to pant.rē, <span id="profile-name"></span></h1>
                <div class="jumbotron large">
                    <p class="text-center">Use the panels below to add ingredients and check out what items recipes
                        you can make!</p>
                </div>
                <div class="row">
                    <!-- ----------Accordion Row ----------- -->
                    <div id="accordion" class="col-md-6">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                    <h3 class="panel-title pull-left">Your pant.rē</h3>
                                    <button class="button pull-right" id="invmgrbtn" data-toggle="modal" data-target="#invmgr">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-condensed" style="border-collapse:collapse;">
                                        <tbody>
                                            <tr data-toggle="collapse" data-target="#canned" class="accordion-toggle">
                                                <td>Canned Goods</td>
                                            </tr>
                                            <tr>
                                                <td colspan="12" class="hiddenRow">
                                                    <div class="accordian-body collapse" id="canned">
                                                        <!-- Template Begin-->
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <td id="Ingredient">Corn</td>
                                                                    <td id="expiration">3/1/2018</td>
                                                                    <td>
                                                                        <form id="qty" method="post" action="/users" class="col-md-2 text-center">
                                                                            <input name="user[userIngredients[qty]]" class="col-sm-2" value="4">
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td id="Ingredient">Asparagus</td>
                                                                    <td id="expiration">4/1/2017</td>
                                                                    <td>
                                                                        <form id="qty" method="post" action="/users" class="col-md-2 text-center">
                                                                            <input name="user[userIngredients[qty]]" class="col-sm-2" value="2">
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td id="Ingredient">Tuna Fish</td>
                                                                    <td id="expiration">4/1/2017</td>
                                                                    <td>
                                                                        <form id="qty" method="post" action="/users" class="col-md-2 text-center">
                                                                            <input name="user[userIngredients[qty]]" class="col-sm-2" value="2">
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        <!-- Template Begin-->
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr data-toggle="collapse" data-target="#dried" class="accordion-toggle">
                                                <td>Dried Goods</td>
                                            </tr>
                                            <tr>
                                                <td colspan="12" class="hiddenRow">
                                                    <div class="accordian-body collapse" id="dried">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <td id="Ingredient">Oregano</td>
                                                                    <td id="expiration">5/1/2018</td>
                                                                    <td>
                                                                        <form id="qty" method="post" action="/users" class="col-md-2 text-center">
                                                                            <input name="user[userIngredients[qty]]" class="col-sm-2" value="1">
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td id="Ingredient">Garlic</td>
                                                                    <td id="expiration">4/1/2017</td>
                                                                    <td>
                                                                        <form id="qty" method="post" action="/users" class="col-md-2 text-center">
                                                                            <input name="user[userIngredients[qty]]" class="col-sm-2" value="1">
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td id="Ingredient">Almonds 4oz Bag</td>
                                                                    <td id="expiration">7/1/2015</td>
                                                                    <td>
                                                                        <form id="qty" method="post" action="/users" class="col-md-2 text-center">
                                                                            <input name="user[userIngredients[qty]]" class="col-sm-2" value="1">
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr data-toggle="collapse" data-target="#perish" class="accordion-toggle">
                                                <td>Perishables</td>
                                            </tr>
                                            <tr>
                                                <td colspan="12" class="hiddenRow">
                                                    <div class="accordian-body collapse" id="perish">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <td id="Ingredient">Milk Gallon</td>
                                                                    <td id="expiration">6/2/2018</td>
                                                                    <td>
                                                                        <form id="qty" method="post" action="/users" class="col-md-6 text-center">
                                                                            <input name="user[userIngredients[qty]]" class="col-sm-2" value="1">
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td id="Ingredient">Strawberries</td>
                                                                    <td id="expiration">6/1/2015</td>
                                                                    <td>
                                                                        <form id="qty" method="post" action="/users" class="col-md-6 text-center">
                                                                            <input name="user[userIngredients[qty]]" class="col-sm-2" value="1">
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td id="Ingredient">Butter</td>
                                                                    <td id="expiration">6/1/2015</td>
                                                                    <td>
                                                                        <form id="qty" method="post" action="/users" class="col-md-6 text-center">
                                                                            <input name="user[userIngredients[qty]]" class="col-sm-2" value="1">
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr data-toggle="collapse" data-target="#frozen" class="accordion-toggle">
                                                <td>Freezer Goods</td>
                                            </tr>
                                            <tr>
                                                <td colspan="12" class="hiddenRow">
                                                    <div class="accordian-body collapse" id="frozen">
                                                        <!-- Template Begin-->
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <td id="Ingredient">Green Beens</td>
                                                                    <td id="expiration">6/2/2018</td>
                                                                    <td>
                                                                        <form id="qty" method="post" action="/users" class="col-md-6 text-center">
                                                                            <input name="user[userIngredients[qty]]" class="col-sm-2" value="1">
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td id="Ingredient">Corn on the Cob</td>
                                                                    <td id="expiration">6/1/2015</td>
                                                                    <td>
                                                                        <form id="qty" method="post" action="/users" class="col-md-6 text-center">
                                                                            <input name="user[userIngredients[qty]]" class="col-sm-2" value="1">
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td id="Ingredient">Vegetable Medley</td>
                                                                    <td id="expiration">6/1/2015</td>
                                                                    <td>
                                                                        <form id="qty" method="post" action="/users" class="col-md-6 text-center">
                                                                            <input name="user[userIngredients[qty]]" class="col-sm-2" value="1">
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        <!-- Template Begin-->
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr data-toggle="collapse" data-target="#powdered" class="accordion-toggle">
                                                <td>Powdered Goods</td>
                                            </tr>
                                            <tr>
                                                <td colspan="12" class="hiddenRow">
                                                    <div class="accordian-body collapse" id="powdered">
                                                        <!-- Template Begin-->
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <td id="Ingredient">Flour</td>
                                                                    <td id="expiration">6/2/2018</td>
                                                                    <td>
                                                                        <form id="qty" method="post" action="/users" class="col-md-6 text-center">
                                                                            <input name="user[userIngredients[qty]]" class="col-sm-2" value="1">
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td id="Ingredient">Sugar</td>
                                                                    <td id="expiration">6/1/2015</td>
                                                                    <td>
                                                                        <form id="qty" method="post" action="/users" class="col-md-6 text-center">
                                                                            <input name="user[userIngredients[qty]]" class="col-sm-2" value="1">
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td id="Ingredient">Salt</td>
                                                                    <td id="expiration">6/1/2015</td>
                                                                    <td>
                                                                        <form id="qty" method="post" action="/users" class="col-md-6 text-center">
                                                                            <input name="user[userIngredients[qty]]" class="col-sm-2" value="1">
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        <!-- Template Begin-->
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <!-- ----------End of the Accordion----------- -->
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="media-list">
                            <li class="media">
                                <a class="pull-left" href="http://blogchef.net/tuna-salad-sandwich-recipe/"><img class="media-object" src="../images/tuna-sandwich.jpg" height="64" width="64"></a>
                                <div class="media-body">
                                    <h4 class="media-heading">Gourmet Tuna Sandwich</h4>
                                    <p>Tuna salad sandwiches are pretty basic and often disappointing… but this one is different. Not only does it consist of ingredients from a tuna salad but from a Waldorf salad as well. A quick glance at the ingredient list will tell the story if this sandwich is right for you. The crunch from the apple and celery add a nice touch to this sandwich, and the Swiss cheese tops it off nicely. There is a bit of prep work required but it is worth it. This recipe is perfect for summer and it can be prepared in advance for picnics. Enjoy.</p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="http://www.gimmesomeoven.com/avocado-strawberry-spinach-salad-with-poppyseed-dressing/"><img class="media-object" src="../images/spinachsalad.jpg" height="64" width="64"></a>
                                <div class="media-body">
                                    <h4 class="media-heading">Strawberry, Spinach, and Avacado Salad</h4>
                                    <p>The classic strawberry spinach salad has been a favorite of mine for ages, but when you throw in some creamy avocados and gorgonzola, I fall in love with it all over again.  So simple, so fresh, and SO good.  Makes me happy.</p>
                                </div>
                            </li>
                            <li class="media">
                                <a class="pull-left" href="http://www.drdiane.com/recipe/almond-cookiesalmn/"><img class="media-object" src="../images/almond-cookies.jpg" height="64" width="64"></a>
                                <div class="media-body">
                                    <h4 class="media-heading">Almond Cookies</h4>
                                    <p>This alternative recipe for almond cookies is courtesy of Martha Lindsay, MS, CNE, our team member who specializes in nutrition education and nutrition response testing. The recipe, ideal for anyone experiencing symptoms from a concussion, stroke, or brain injury of any kind, as well as ADD/ADHD, Parkinson’s or MS, let’s you treat yourself to something sweet without having to pay for it after the fact. All the ingredients work for your brain, not against it. Proceed without fear of putting your brain and body in a tizzy, and give these goodies a try!</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <footer class="section section-primary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Contact us</h1>
                        <p>Copyryight 2015
                            <br>daimeon.pilcher@gmail.com
                            <br>Project 1 SF-WDI-18</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-info text-right">
                            <br>
                            <br>
                        </p>
                        <div class="row">
                            <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 hidden-xs text-right">
                                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-info"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-info"></i></a>
                                <a href="#"><i class="fa fa-3x fa-facebook fa-fw text-info"></i></a>
                                <a href="#"><i class="fa fa-3x fa-fw fa-github text-info"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="modal fade" id="invmgr">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Inventory Manager</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel panel-default">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left">Your pant.rē</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-condensed" style="border-collapse:collapse;">
                                    <tbody>
                                        <tr data-toggle="collapse" data-target="#canned" class="accordion-toggle">
                                            <td>Canned Goods</td>
                                        </tr>
                                        <tr>
                                            <td colspan="12" class="hiddenRow">
                                                <div class="accordian-body collapse" id="canned">
                                                    <!-- Template Begin-->
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <td id="Ingredient">&lt;%=ingredient %&gt;</td>
                                                                <td id="expiration">&lt;%=expiration %&gt;</td>
                                                                <td>
                                                                    <form id="qty" method="post" action="/users" class="col-md-2 text-center">
                                                                        <input name="user[userIngredients[qty]]" class="col-sm-2" value="<%=qty %>">
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                    <!-- Template Begin-->
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr data-toggle="collapse" data-target="#dried" class="accordion-toggle">
                                            <td>Dried Goods</td>
                                        </tr>
                                        <tr>
                                            <td colspan="12" class="hiddenRow">
                                                <div class="accordian-body collapse" id="dried">
                                                    <!-- Template Begin-->
                                                    <!-- Template Begin-->
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr data-toggle="collapse" data-target="#perish" class="accordion-toggle">
                                            <td>Perishables</td>
                                        </tr>
                                        <tr>
                                            <td colspan="12" class="hiddenRow">
                                                <div class="accordian-body collapse" id="perish">
                                                    <!-- Template Begin-->
                                                    <!-- Template Begin-->
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr data-toggle="collapse" data-target="#frozen" class="accordion-toggle">
                                            <td>Freezer Goods</td>
                                        </tr>
                                        <tr>
                                            <td colspan="12" class="hiddenRow">
                                                <div class="accordian-body collapse" id="frozen">
                                                    <!-- Template Begin-->
                                                    <!-- Template Begin-->
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr data-toggle="collapse" data-target="#powdered" class="accordion-toggle">
                                            <td>Powdered Goods</td>
                                        </tr>
                                        <tr>
                                            <td colspan="12" class="hiddenRow">
                                                <div class="accordian-body collapse" id="powdered">
                                                    <!-- Template Begin-->
                                                    <!-- Template Begin-->
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <!-- ----------End of the Accordion----------- -->
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default" data-dismiss="modal">Close</a>
                        <a class="btn btn-primary">Save changes</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade col-md-12" id="recmgr">
            <div class="modal-dialog">
                <div class="modal-content col-md-12">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Recipe Manager</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form" role="form" id="Recipes">
                            <div class="form-group col-md-6">
                                <input class="form-control" type="text" placeholder="Name of Recipe">
                            </div>
                            <div class="form col-md-3" id="Ingredient">
                                <input class="form-control" type="text">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default" data-dismiss="modal">Close</a>
                        <a class="btn btn-primary">Save changes</a>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>